<h3 class="center">Welcome to the Question && Answer Board</h3>
<div class="divider"></div>
<br>

<h5 class="center">Click on questions to see more or add a new post below</h5>

<div class="divider"></div>



<div class="row">
  <div class="col m12">
    <div class="card blue-grey lighten-2">
      <div class="card-content white-text">
        {{#each model as |post|}}
           {{post-tile post=post save2="save3"}} {{post-cost post}}
        {{#link-to 'post' post.id}} {{post.question}}{{/link-to}}
           <div class="divider"></div>
        {{/each}}
      </div>
      <div class="card-action">
      </div>
      <div class="container">
  <div class="favorited">
    <h1>Favorited Questions</h1>
    {{display-favorites answer="answer" post=post}}
  </div>
      </div>
    </div>
  </div>
</div>




{{new-post addPost="addPost"}}
