<h2 class="thin ">More information about {{model.author}}'s post about: {{model.question}} </h2>

<div class="divider"></div>

{{update-post post=model update="update"}}

{{post-detail post=model destroyPost="destroyPost"}}




Answers:
<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.author}} {{answer.answer}}</li>
  {{/each}}
</ul>

{{answer-tile save2="save3" post=model}}
